* {
	/* margin:0; */
	padding:0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	height: 100%;
}

a {
	text-decoration:none;
	color:white;
}

a:hover {
	color:#a8a6a1;
	transition:color .2s;
}

iframe {
	text-align: center;
}

.yt {
	display: flex;
	flex-direction: row;
	height: calc(70vw /2);
}

.yt>iframe {
	width:90%;
}

#log {
	max-width: 10%;
}

#log>li {
	animation: append-animate .3s linear;
	opacity: 1;
    transition: opacity 1000ms linear;
}

@keyframes append-animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animate {
	0% {
		transform: scale(0) translateY(0) rotate(0deg);
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		transform: scale(1) translateY(-500%) rotate(360deg);
		opacity: 0;
	}
}

@media screen and (min-width:1000px) {

	header {
		display: flex;
		flex-direction: column;
	}

	span {
		position: absolute;
		pointer-events: none;
		background: #fff;
		animation: animate 5s linear;
		z-index: 1;
	}

	.corps {
		display: flex;
		flex-direction: column;
		position: sticky;
		text-align:center;
		min-width: 70%;
		max-width: 70%;
		margin:auto;
		background-color:white;
		z-index:2;
		min-height: 100%;
	}
	
	.child_center{
		margin: auto;
		text-align: center;
	}

	.child_left{
		margin-left: 0%;
		text-align: left;
	}

	.child_right{
		text-align: right;
		margin-right: 0%;
	}

	.titre {
		font-family: 'Yrsa', serif;
		font-weight: 100;
		padding-top: 30px; 
		margin: 0px; 
		color:#333;
		padding-bottom: 30px;
		font-size:4em;
	}
	
	body {
		margin-top: 0px;
		background-color:#212121;
	}
	li {
		list-style: none;
		display: inline-block;
		padding-left:0.4em;
		padding-top:0.8em;
		padding-bottom:0.8em;
		margin-right: 1em;
	}

	ul {
		margin:0px;
	}

	.menu {
		display: flex;
		flex-direction: column;
		letter-spacing: 1px;
		font-weight: 700;
		font-size: 20px;
		font-family: 'Source Sans Pro', sans-serif;
		background-color:#333;
		color:white;
	}
		
	.bouton {
		transition:color .0s;
	}

	input {
		border-radius: 5px;
	}

	.inputbutton {
		color: white;
		background-color: #000000;
		/* border:none; */
		border-radius: 5px;
		text-align: center;
		padding-left: 3px;
		padding-right: 3px;
	}

	.inputbutton:hover {
		background-color: #494949;
		font-weight:bold;
	}

	#bouton {
	font-family: 'Source Sans Pro', sans-serif;
	height: 24px;
	width: 200px;
	background-color: #000000;
	border:none;
	border-radius: 5px;
	text-align: center;
	margin:auto;
	}

	#bouton:hover {
		background-color: #494949;
		font-weight:bold;
	}
	.imagets {
		float: right;
		padding: 1.3em;
	}
	.paddingdiv {
		padding: 10%;
	}

	.imagegifts {
		padding-left:184px ;
		padding-right:184px;
	}
	.imageM {
		display: none;
	}
}

@media screen and (max-width:1000px) {

	header {
		display: flex;
		flex-direction: column;
	}

	span {
		position: absolute;
		pointer-events: none;
		background: #fff;
		animation: animate 5s linear;
		z-index: 1;
	}


	.corps {
		display: flex;
		position: sticky;
		flex-direction: column;
		text-align:center;
		min-width: 100%;
		background-color:white;
		z-index:2;
		min-height: 100%;
	}

	.titre {
		font-family: 'Yrsa', serif;
		font-weight: 100;
		padding-top: 30px; 
		margin: 0px; 
		color:#333;
		padding-bottom: 30px;
		font-size:4em;
	}

	body {
		margin-top: 0px;
		background-color:#212121;
	}
	li {
		list-style: none;
		display: inline-block;
		padding-left:0.4em;
		padding-top:0.8em;
		padding-bottom:0.8em;
		margin-right: 1em;
	}

	ul {
		margin:0px;
	}
	
	.menu {
		display: flex;
		flex-direction: column;
		letter-spacing: 1px;
		font-weight: 700;
		font-size: 20px;
		font-family: 'Source Sans Pro', sans-serif;
		background-color:#333;
		color:white;
	}

	.bouton {
		transition:color .0s;
	}

	.imagegifts {
		margin: auto;
	}


	#bouton {
	font-family: 'Source Sans Pro', sans-serif;
	height: 24px;
	width: 200px;
	background-color: #000000;
	border:none;
	border-radius: 5px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
	}

	#bouton:hover {
		background-color: #494949;
		font-weight:bold;
	}

	.imagets {
		align-content: center;
		padding-top: 1.3em;
	}

	.imageO {
		display: none;
	}
	.divts {
		margin: auto;
	}
}