<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="Bienvenue dans l'accueil du site de Nessar, a partir d'ici, vous pourez acceder a tout le site, au forum, a mes reseaux Sociaux ainsi qu'au Teamspeak !" />
		<title>Site de Nessar</title>
		<!--Image dans l'onglet -->
		<link rel="shortcut icon" href="{{url_for('static', filename='image/n.png')}}" type="image/x-icon">
		
		<!--Pour les éèàç -->
		<meta charset="utf-8" />
		<!--Pour les mobiles -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--CSS -->
		<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
		<style>
			@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Source+Sans+Pro|Yrsa');
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
		<script> 
			$(function(){
				$(".menu").load("menu.html"); 
			});
		</script>
	</head>
	<body>
		<script>

			const color = [
				"#2196f3",
				"#e91e63",
				"#ffeb3b",
				"#74ff1d"
			];

			function createSquare(){
				const section = document.querySelector("body");
				const square = document.createElement("span");

				var size = Math.random() * 50;

				square.style.width = 20 + size + 'px';
				square.style.height = 20 + size + 'px';

				square.style.top = Math.random() * (innerHeight - 20 + size) + 'px';
				square.style.left = Math.random() * (innerWidth - 20 + size) + 'px';

				const bg = color[Math.floor(Math.random() * color.length)];
				square.style.background = bg;

				section.appendChild(square);

				setTimeout(() =>{
					square.remove()
				},5000)
			}

			setInterval(createSquare, 150)
		</script>
		<div class="corps">
			<header>
				<h1 class="titre">Site de Nessar</h1>
			</header>
			<div class="menu"></div>
			<div>
				<img class="child_center" style="width: 90%;height: auto;" src="{{url_for('static', filename='/image/space.jpg')}}"/>
				<div style="padding:55px;" class="child_left">
					<h1 style="font-weight: inherit;">Accueil</h1>
					<p>Vous êtes à l'accueil de mon site, pensez à faire un tour sur le forum !</p>
				</div>
			</div>
		</div>
	</body>
</html>
