{% extends "default.html" %}
{% block title %}Index{% endblock %}
{% block content %}
	<div style="height: 80%;margin-bottom: 1%;">
		<h1>Panneau Admin</h1>
		<br>
		<form action="{{url_for('login')}}" method="post">
			<label for="username">Nom d'utilisateur : </label>
			<input type="text" name="username">
			<label type="password" for="pswd">Mot de passe : </label>
			<input name="pswd">
			<label for="stayconnected">Resté connecté ?</label>
			<input type="checkbox" name="stayconnected">
			<input class="inputbutton" type="submit">
		</form>
	</div>
{% endblock %}