{% extends "default.html" %}
{% block title %}Index{% endblock %}
{% block content %}
	<div>
		<div class="paddingdiv" >
			<aside class="imagets">
				<img class="imageO" src="https://ts3index.com/banner/s500_263770.png">
				<img class="imageM" src="https://ts3index.com/banner/s410_263770.png">
			</aside>
			<div class="divts" style="width: 50%; text-align: center;">
				<img class="imagegifts" src="{{url_for('static', filename='image/ts.gif')}}" />
				<a class="bouton" href="ts3server://ts.nessar.fr" target="_blank">
					<div id="bouton">
						<p style="padding-top:1px;">Rejoindre le TS</p>
					</div>
				</a>
				<p>Si vous n'arrivez pas à vous connecter voici l'ip: <u>ts.nessar.fr</u></p>
			</div>
			<!--<center><h2>Nouveau système de ranks et de statistiques disponible a cette adresse :</h2><a href="http://ktfaction.fr/ranksystem/"><div id="bouton" style="padding:0px">Cliquez ici</div></a></center>-->
		</div>
	</div>
{% endblock %}